
@{
    ViewBag.Title = "Index";
}

<h2>Darshan's Birthday party</h2>
<h1>@ViewBag.Greeting</h1>

<body>
    <div>
        <p>
            We are having an exciting Birthday party<br />
            let's make it memorable with your presence.....
            
        </p>
        @Html.ActionLink("RSVP form","RspvForm")
    </div>
</body>


